#### Aquiring the data set and preprocessing

* Import the required libraries

In [73]:
import numpy as np
import pandas as pd

* Get the data from Wikipedia 
* Convert it into dataframe 
* Rename the columns names as required

In [74]:
data = "http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
toronto_data = pd.read_html(data)[0]
toronto_data.rename(columns={'District':'Borough','Postal Code':'PostalCode'},inplace=True)
toronto_data.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

* Replace the Not assigned values in neighbourhood to respective Borough 
* Delete the rows with Not assigned Borough
* Merge the rows with same postal code into one with Neighbourhood names seperated by comma

In [75]:
toronto_data.replace(to_replace='Not assigned',value=np.nan,inplace=True)
toronto_data.apply(lambda x: [x.PostalCode,x.Borough,x.Borough]
                   if pd.isna(x.Neighbourhood) else x ,axis=1)
toronto_data=toronto_data.loc[toronto_data.Borough.notna(),:]
toronto_data.groupby('PostalCode').agg({'Borough':'first','Neighbourhood':','.join}).reset_index()
toronto_data.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [76]:
toronto_data.shape

(103, 3)